<mat-toolbar>
  <span class="toolbar-spacer"></span>
  <button (click)="add()" color="primary" mat-raised-button type="button">
    <mat-icon>add</mat-icon>
    Neue Stelle erfassen
  </button>
</mat-toolbar>

<table [dataSource]="jobDataSource" class="job-table" mat-table>
  <ng-container matColumnDef="title">
    <th *matHeaderCellDef mat-header-cell>Titel</th>
    <td *matCellDef="let element" mat-cell>{{ element.title }}</td>
  </ng-container>

  <ng-container matColumnDef="location">
    <th *matHeaderCellDef mat-header-cell>Ort</th>
    <td *matCellDef="let element" mat-cell>{{ element.location }}</td>
  </ng-container>

  <ng-container matColumnDef="salaryRange">
    <th *matHeaderCellDef mat-header-cell>Gehalt</th>
    <td *matCellDef="let element" mat-cell>{{ element.salaryRange }}</td>
  </ng-container>

  <ng-container matColumnDef="createdAt">
    <th *matHeaderCellDef mat-header-cell>Erstellt</th>
    <td *matCellDef="let element" mat-cell>{{ element.createdAt | date:'dd.MM.yyyy' }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th *matHeaderCellDef mat-header-cell>Aktionen</th>
    <td *matCellDef="let element" mat-cell>
      <button (click)="edit(element)" color="primary" mat-button type="button">
        <mat-icon>edit</mat-icon>
        Bearbeiten
      </button>
      <button (click)="applications(element)" color="primary" mat-button type="button">
        <mat-icon>assignment</mat-icon>
        Bewerbungen
      </button>
      <button (click)="delete(element)" color="warn" mat-button type="button">
        <mat-icon>delete</mat-icon>
        Löschen
      </button>
    </td>
  </ng-container>

  <tr *matHeaderRowDef="columns" mat-header-row></tr>
  <tr *matRowDef="let row; columns: columns;" mat-row></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10]" [pageSize]="10" showFirstLastButtons></mat-paginator>
